@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

img {
  user-select: none;
}

/* scrollbar */
.customScroll::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}
.customScroll::-webkit-scrollbar-thumb {
  background-color: #dd8560;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* fonts */
@font-face {
  font-family: "tenor";
  src: url(../public/fonts/tenor/TenorSans-Regular.ttf);
}
.tenor {
  font-family: "tenor";
}

@font-face {
  font-family: "moda";
  src: url(../public/fonts/BodoniModa/BodoniModaVariableFont.ttf);
}
.moda {
  font-family: "moda";
}
